.map {
    padding-bottom: 75%;
    position: relative;
    
}

.map iframe {
    height:100%;
    width: 100%;
    left: 0;
    top: 0;
    
    position: absolute;
    
}
@font-face{
    font-family:Lato;
    src: url(../Fonts/Lato/Lato-Regular.ttf);
}

*{
    font-family:Lato;
}



h1,h2{
    font-weight: bold;
    padding: 5px;
    padding-left: 7%;
}

img.center {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.wrap {
    display: inline-block;
    position: relative;
}

.wrap img + .content {
    position: absolute;
    top: 0;
    left: 0;
    
}

.wrap, .content{
    color: white;
    padding: 3% 10% 0% 10%;
    font-size: 100px;
    text-shadow: 2px 1px #247454;
}