.map {
    padding-bottom: 50%;
    position: relative;
}

.map iframe {
    height: 60%;
    width: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
@font-face{
    font-family:Lato;
    src: url(../Fonts/Lato/Lato-Regular.ttf);
}

*{
    font-family:Lato;
}

footer{
    background-color: #3cab7b;
}